/* 
    Created on : 30-set-2015, 22.27.51
    Author     : chiara
*/
.container {
 width: 95%;
 height: 94%;
 border-style: solid;
 border-color: #003333;
 border-width: 5px;
 border-radius: 2px;
 background: url(images/sfondo.png);
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 padding: 10px 30px 20px 30px ;
 /*margin: 30px 30px 30px 30px;*/
}

.titlePage {
/*padding: 20px 20px 20px 20px ;*/
											/* remove border - next3rows
 border-style: solid;
 border-color: #003333;
 border-width: 1px;							*/
 margin: 10px 10px 10px 10px;
 color: aliceblue;   
 font-family:sans serif;
 font-size: 40px;
}

.bar {
 font-size: 30px;
 background-color: #99ffff;
 padding: 10px 10px 10px 10px ;
 margin: 10px 10px 10px 10px ;
 background-image: url(images/barground.jpg);
 border-radius: 10px;
 font-family: sans-serif;
}

.button {
 background-color: #ccccff;
 font-size: 20px;
 font-family:  sans serif;
 border-radius: 6px;
 border-style: solid;
 border-width: 3px;   
}

.qContainer {
 padding: 20px 0px 15px 0px;
 background-color: #ccccff;
 font-family: sans-serif;
 width: 85%;
 margin: 0 auto; 
}

.selQuery {
 /*padding: 20px 20px 20px 20px ;*/ 
 font-size: 20px;
 margin-left: 160px;
 font-family: sans-serif;
}

.elQuery {
 /*padding: 10px 20px 10px 20px ;*/
 font-size: 20px;  
 font-family: sans-serif;
}

.but {	
 /*padding: 20px 20px 20px 20px ;*/
 font-size: 20px;  
 margin-left: 10px;
}


.resultContainer {
 font-size: 15px;
 font-family: sans-serif;   
 margin: 0 auto;  
 width: 90%;
}

.resultContainer label {
 font-size: 20px;
 font-family: sans-serif;
 padding:  20px 20px 10px 20px ;  
}

.rect {
 font-size: 20px;
 border-color: #003333;
 border-width: 4px;
 border-style:double;
 padding: 20px 20px 20px 20px ;
 background-color: #fff;
}

.rect p {
margin-left: 60px;
}

.tableelement {
 border-width: 0px;
 padding-left: 50px;
 padding-bottom: 20px;
 padding-top: 20px;
 margin: 10px 10px 10px 10px;     
}

.tableelement tr td {
 font-size: 14px;
 font-family: sans-serif;
 padding: 20px 50px 20px 20px;   
}

.resquery {
}

.tabResultQuery {
 padding-left: 50px;
 margin-left: 20px;
}
    
.tabResultQuery tr td {
 /*margin-left: 150px;*/
 padding-right: 50px;  
}

.tabResultQuery tr td p {
 font-size: 16px;
 font-weight: bold;
 font-family: sans-serif;
}